html {
  background-color: hsla(180, 100%, 64%, 0.5);
}
body {
  width: 85%;
  margin: 100px auto;
  background-color: hsla(90, 90%, 70%, 0.6);
  padding: 0 1% 1% 1%;
  border: 5px solid #ffffff;
}
header h1 {
  margin: 0;
  padding: 20px 0;
  color: hsl(0, 100%, 78%);
  text-shadow: -3px 3px 5px hsla(330, 40%, 55%, 0.6);
}
h1 {
  color: hsl(0, 49%, 47%);
}
img {
  display: block;
  margin: 0 auto;
}
